<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Api\Data\ProductCustomOptionValuesInterface"
                type="Supremis\DigitalSubscription\Api\Data\ProductCustomOptionValuesInterface"/>
    <preference for="Magento\Catalog\Model\Product\Option\Value"
                type="Supremis\DigitalSubscription\Model\Product\Option\Value"/>
</config>
